<!doctype>
<html>
  <head>
    <style type="text/css">
      body {
        height: 100%;
        width: 100%;
        background-color: <%= @color %>;
      }
    </style>
    <title>Monitoring the Monitor Lights!</title>
    <script type="text/javascript">
      setTimeout("window.location.reload()", 10000)
    </script>
  </head>
  <body>
  </body>
</html>

